{% extends 'updated/base.html' %}

{% load static %}

{% block footer %}

<div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
    <h3>Contact Me</h3>
</div>
<div class="col-sm-12 mh-footer-address">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                <div class="each-icon">
                    <i class="fa fa-location-arrow"></i>
                </div>
                <div class="each-info">
                    <h4>Address</h4>
                    <address>
                        Ravet BRT road, 5th floor, <br>
                         Pune
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                <div class="each-icon">
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="each-info">
                    <h4>Email</h4>
                    <a href="mailto:yourmail@email.com">shivam31199@email.com</a><br>
                    <a href="mailto:yourmail@email.com">havocres@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="mh-address-footer-item dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                <div class="each-icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="each-info">
                    <h4>Phone</h4>
                    <a href="callto:(880)-8976-987">(+91) 704-059-0595 </a><br>
                    <a href="">...</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
          <form id="contactForm" class="single-form quate-form wow fadeInUp" data-toggle="validator">
              <div id="msgSubmit" class="h3 text-center hidden"></div>
              <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <input name="name" class="contact-name form-control" id="name" type="text" placeholder="First Name" required>
                  </div>
                  <div class="col-md-6 col-sm-12">
                      <input name="name" class="contact-email form-control" id="L_name" type="text" placeholder="Last Name" required>
                  </div>
                  <div class="col-sm-12">
                      <input name="name" class="contact-subject form-control" id="email" type="email" placeholder="Your Email" required>
                  </div>
                  <div class="col-sm-12">
                      <textarea class="contact-message" id="message" rows="6" placeholder="Your Message" required></textarea>
                  </div>
                  <!-- Subject Button -->
                  <div class="btn-form col-sm-12">
                      <button type="submit" class="btn btn-fill btn-block" id="form-submit">Send Message</button>
                  </div>
              </div>
          </form>
          </div>
          <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
            <br>
          <div class="mh-map">
              <!-- <div id="mh-map" class="shadow-1"></div> -->
          </div>
          </div>

    </div>
</div>


{% endblock %}
