<div class="container">
    <div class="row">
            {% for security in securities %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                      <img src="{% static "public/engie.jpg" %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ security.name }}</h5>
                        <p class="card-text">Text here</p>
                      </div>
                      <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                      </div>
                    </div>
                </div>
            {% endfor %}